*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --google-sans: "Open Sans", sans-serif;
    --poppins:"Poppins", sans-serif;
    --volkhov:"Volkhov", serif;;
    --white: #ffffff;
    --black: #000000;
    --orange-web: #f1a501;
    --roman-silver: #84829a;
    --jelly-bean: #df6951;
    --iris: #4152ca;
    --charleston-green: #212832;
    --dark-electric-blue: #5e6282;
    --medium-purple: #8a79df;
    --space-cadet: #181e4b;
    --blue-sapphire: #006380;
    --manatee: #9ca0b0;
    --yankees-blue: #14183e;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    background-color:var(--white);
}
.container{
    padding: 0 1.5rem;
    margin: auto;
    overflow: hidden;
}
@media (min-width: 768px) {
    .container {
    width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
    width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
    width: 1170px;
    }
}
@media (min-width: 1400px) {
    .container{
    max-width: 1320px;
    }
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
input{
    outline: none;
}
img{
    max-width: 100%;
}
header{
    position: fixed;
    width: 100%;
    padding: 4rem 0;
    background-color: transparent;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .container a img{
    width: 11rem;
}
header .container nav ul{
    display: flex;
    align-items: center;
    gap: 4rem;
    list-style: none;
}
header .container nav ul a{
    display: inline-block;
    font-family:var(--volkhov); 
    font-size: 1.7rem;
    font-weight: 400;
    color: var(--black);
    text-decoration: none;
}
header .container nav ul li.signup{
    display: inline-block;
    padding:1rem 2rem;
    border: 1px solid var(--charleston-green);
    border-radius: 5px;
}
header .container nav ul li form select{
    font-family:var(--volkhov); 
    font-size: 1.7rem;
    font-weight: 400;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--black);
}
header .container nav label{
    display: none;
}
header .container nav label img{
    width: 2.6rem;
}
header .container nav > .checked{
    display: none;
    background-color: #000000;
}
@media (max-width:75em) {
    header .container nav label {
        display: block;
    }
    header .container nav ul{
        display: none;
        flex-direction: column;
        gap: 2rem;
        position: absolute;
        top: 80px;
        right: -100%;
        width: 50%;
        padding: 1rem;
        background-color: var(--manatee);
        border-radius: 8px;
        transition: all .4s ease;
    }
    header .container nav > .checked:checked ~ ul{
        display: flex;
        right: 0;
    }
    header .container nav ul .menu-search-box{
        width: 100%;
    }
}